Source: passbolt-api
Maintainer: Didier Raboud <odyx@debian.org>
Build-Depends: debhelper (>= 10),
 pkg-php-tools (>= 1.7~),
Section: php
Priority: optional
Standards-Version: 4.1.2
Homepage: https://www.passbolt.com/

Package: passbolt-api
Architecture: all
Depends: ${misc:Depends}, ${phpcomposer:Debian-require},
 libjs-passbolt-embedded (= ${source:Version}),
 fonts-font-awesome,
Recommends: ${phpcomposer:Debian-recommend}
Suggests: ${phpcomposer:Debian-suggest}
Description: ${phpcomposer:description}

Package: libjs-passbolt-embedded
Section: javascript
Architecture: all
Description: All JS libraries embedded by Passbolt
 Separate package for all the JS libraries embedded by passbolt
