#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install

override_dh_fixperms:
	dh_fixperms
	chown -R www-data $(CURDIR)/debian/passbolt-api/var/lib/passbolt

override_dh_auto_clean:
override_dh_auto_build:
