#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	# Cleanup superfluous files
	find $(CURDIR)/debian/passbolt-api/ -type f \( -name '.git*' -o -iname 'license*' \) -delete
	# All JS goes in libjs-passbolt-embedded
	rm -Rf $(CURDIR)/debian/passbolt-api/usr/share/php/passbolt-api/app/webroot/js/lib

	# Install all .default files to /etc/passbolt anyway
	for cfg in app/Config/*.default; do \
		install -m 644 $$cfg $(CURDIR)/debian/passbolt-api/etc/passbolt/$$(basename $$cfg .default); \
	done

override_dh_link:
	# This is replaced by a symlink
	rm -Rf $(CURDIR)/debian/passbolt-api/usr/share/php/passbolt-api/app/webroot/img/public
	dh_link

override_dh_fixperms:
	dh_fixperms
	chown -R www-data $(CURDIR)/debian/passbolt-api/var/lib/passbolt

override_dh_auto_clean:
override_dh_auto_build:
