#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_auto_build:
	dh_auto_build
	# Also _RUN_ composer install. This is directly AGAINST Debian Policy §4.9 "For packages in the main archive, no required targets may attempt network access." 
	echo "Y" | composer install --no-dev

override_dh_install:
	dh_install
	# Cleanup superfluous files
	find $(CURDIR)/debian/passbolt-api*/ -type f \( -name '.git*' \) -delete
	# All JS goes in libjs-passbolt-embedded
	rm -Rf $(CURDIR)/debian/passbolt-api/usr/share/php/passbolt-api/webroot/js/app
	# php-passbolt-embedded
	find $(CURDIR)/debian/php-passbolt-embedded/ -type f \( -name '.git*' -o -iname 'license*' \) -delete
	# Move some migrations to the -pro alternative
	mkdir -p $(CURDIR)/debian/passbolt-api-pro-plugins/usr/share/php/passbolt-api/config/Migrations/
	for migration in 20180202221500_V200InstallTagsPlugin; do \
		mv $(CURDIR)/debian/passbolt-api/usr/share/php/passbolt-api/config/Migrations/$${migration}.php \
		   $(CURDIR)/debian/passbolt-api-pro-plugins/usr/share/php/passbolt-api/config/Migrations/$${migration}.php; \
	done

override_dh_fixperms:
	dh_fixperms
	chown -R www-data $(CURDIR)/debian/passbolt-api/var/lib/passbolt
	chown -R www-data $(CURDIR)/debian/passbolt-api/var/log/passbolt

override_dh_auto_clean:
override_dh_auto_build:
